$total_columns: 12;

@function percentage($value) {
    @return ((100 * $value) * 1%);
}

@function columns($value) {
    @return percentage($value / $total_columns);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

@for $i from 1 through 12 {
    .col-md-#{$i} {
        width: columns($i);
    }
}